@use "catppuccin";

body {
  position: relative;
  min-height: 100%;
  margin: 0px;
  font-feature-settings: "kern";
}

:where(*) {
  border-width: 0px;
  border-style: solid;
  box-sizing: border-box;
  overflow-wrap: break-word;
}

element {
  color-scheme: dark;
}

@supports (height: 100dvh) {
  :root, :host {
    --vh: 100dvh;
  }
}

:root, :host {
  --vh: 100vh;
}

:host, :root, [data-theme] {
  --ring-inset: var(--empty, );
  --ring-offset-width: 0px;
  --ring-offset-color: #fff;
  --ring-color: rgba(66, 153, 225, 0.6);
  --ring-offset-shadow: 0 0 #0000;
  --ring-shadow: 0 0 #0000;
  --space-x-reverse: 0;
  --space-y-reverse: 0;
  --colors-transparent: transparent;
  --colors-current: currentColor;
  --colors-black: #000000;
  --colors-white: #FFFFFF;
  --colors-whiteAlpha-50: rgba(255, 255, 255, 0.04);
  --colors-whiteAlpha-100: rgba(255, 255, 255, 0.06);
  --colors-whiteAlpha-200: rgba(255, 255, 255, 0.08);
  --colors-whiteAlpha-300: rgba(255, 255, 255, 0.16);
  --colors-whiteAlpha-400: rgba(255, 255, 255, 0.24);
  --colors-whiteAlpha-500: rgba(255, 255, 255, 0.36);
  --colors-whiteAlpha-600: rgba(255, 255, 255, 0.48);
  --colors-whiteAlpha-700: rgba(255, 255, 255, 0.64);
  --colors-whiteAlpha-800: rgba(255, 255, 255, 0.80);
  --colors-whiteAlpha-900: rgba(255, 255, 255, 0.92);
  --colors-blackAlpha-50: rgba(0, 0, 0, 0.04);
  --colors-blackAlpha-100: rgba(0, 0, 0, 0.06);
  --colors-blackAlpha-200: rgba(0, 0, 0, 0.08);
  --colors-blackAlpha-300: rgba(0, 0, 0, 0.16);
  --colors-blackAlpha-400: rgba(0, 0, 0, 0.24);
  --colors-blackAlpha-500: rgba(0, 0, 0, 0.36);
  --colors-blackAlpha-600: rgba(0, 0, 0, 0.48);
  --colors-blackAlpha-700: rgba(0, 0, 0, 0.64);
  --colors-blackAlpha-800: rgba(0, 0, 0, 0.80);
  --colors-blackAlpha-900: rgba(0, 0, 0, 0.92);
  --borders-none: 0;
  --borders-1px: 1px solid;
  --borders-2px: 2px solid;
  --borders-4px: 4px solid;
  --borders-8px: 8px solid;
  --fonts-heading: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  --fonts-body: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  --fonts-mono: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  --fontSizes-3xs: 0.45rem;
  --fontSizes-2xs: 0.625rem;
  --fontSizes-xs: 0.75rem;
  --fontSizes-sm: 0.875rem;
  --fontSizes-md: 1rem;
  --fontSizes-lg: 1.125rem;
  --fontSizes-xl: 1.25rem;
  --fontSizes-2xl: 1.5rem;
  --fontSizes-3xl: 1.875rem;
  --fontSizes-4xl: 2.25rem;
  --fontSizes-5xl: 3rem;
  --fontSizes-6xl: 3.75rem;
  --fontSizes-7xl: 4.5rem;
  --fontSizes-8xl: 6rem;
  --fontSizes-9xl: 8rem;
  --fontWeights-hairline: 100;
  --fontWeights-thin: 200;
  --fontWeights-light: 300;
  --fontWeights-normal: 400;
  --fontWeights-medium: 500;
  --fontWeights-semibold: 600;
  --fontWeights-bold: 700;
  --fontWeights-extrabold: 800;
  --fontWeights-black: 900;
  --letterSpacings-tighter: -0.05em;
  --letterSpacings-tight: -0.025em;
  --letterSpacings-normal: 0;
  --letterSpacings-wide: 0.025em;
  --letterSpacings-wider: 0.05em;
  --letterSpacings-widest: 0.1em;
  --lineHeights-3: .75rem;
  --lineHeights-4: 1rem;
  --lineHeights-5: 1.25rem;
  --lineHeights-6: 1.5rem;
  --lineHeights-7: 1.75rem;
  --lineHeights-8: 2rem;
  --lineHeights-9: 2.25rem;
  --lineHeights-10: 2.5rem;
  --lineHeights-normal: normal;
  --lineHeights-none: 1;
  --lineHeights-shorter: 1.25;
  --lineHeights-short: 1.375;
  --lineHeights-base: 1.5;
  --lineHeights-tall: 1.625;
  --lineHeights-taller: 2;
  --radii-none: 0;
  --radii-sm: 0.125rem;
  --radii-base: 0.25rem;
  --radii-md: 0.375rem;
  --radii-lg: 0.5rem;
  --radii-xl: 0.75rem;
  --radii-2xl: 1rem;
  --radii-3xl: 1.5rem;
  --radii-full: 9999px;
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 0.75rem;
  --space-4: 1rem;
  --space-5: 1.25rem;
  --space-6: 1.5rem;
  --space-7: 1.75rem;
  --space-8: 2rem;
  --space-9: 2.25rem;
  --space-10: 2.5rem;
  --space-12: 3rem;
  --space-14: 3.5rem;
  --space-16: 4rem;
  --space-20: 5rem;
  --space-24: 6rem;
  --space-28: 7rem;
  --space-32: 8rem;
  --space-36: 9rem;
  --space-40: 10rem;
  --space-44: 11rem;
  --space-48: 12rem;
  --space-52: 13rem;
  --space-56: 14rem;
  --space-60: 15rem;
  --space-64: 16rem;
  --space-72: 18rem;
  --space-80: 20rem;
  --space-96: 24rem;
  --space-px: 1px;
  --space-0-5: 0.125rem;
  --space-1-5: 0.375rem;
  --space-2-5: 0.625rem;
  --space-3-5: 0.875rem;
  --shadows-xs: 0 0 0 1px rgba(0, 0, 0, 0.05);
  --shadows-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --shadows-base: 0 1px 3px 0 rgba(0, 0, 0, 0.1),0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadows-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1),0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadows-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadows-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1),0 10px 10px -5px rgba(0, 0, 0, 0.04);
  --shadows-2xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  --shadows-outline: 0 0 0 3px rgba(66, 153, 225, 0.6);
  --shadows-inner: inset 0 2px 4px 0 rgba(0,0,0,0.06);
  --shadows-none: none;
  --shadows-dark-lg: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px,rgba(0, 0, 0, 0.2) 0px 5px 10px,rgba(0, 0, 0, 0.4) 0px 15px 40px;
  --sizes-1: 0.25rem;
  --sizes-2: 0.5rem;
  --sizes-3: 0.75rem;
  --sizes-4: 1rem;
  --sizes-5: 1.25rem;
  --sizes-6: 1.5rem;
  --sizes-7: 1.75rem;
  --sizes-8: 2rem;
  --sizes-9: 2.25rem;
  --sizes-10: 2.5rem;
  --sizes-12: 3rem;
  --sizes-14: 3.5rem;
  --sizes-16: 4rem;
  --sizes-20: 5rem;
  --sizes-24: 6rem;
  --sizes-28: 7rem;
  --sizes-32: 8rem;
  --sizes-36: 9rem;
  --sizes-40: 10rem;
  --sizes-44: 11rem;
  --sizes-48: 12rem;
  --sizes-52: 13rem;
  --sizes-56: 14rem;
  --sizes-60: 15rem;
  --sizes-64: 16rem;
  --sizes-72: 18rem;
  --sizes-80: 20rem;
  --sizes-96: 24rem;
  --sizes-px: 1px;
  --sizes-0-5: 0.125rem;
  --sizes-1-5: 0.375rem;
  --sizes-2-5: 0.625rem;
  --sizes-3-5: 0.875rem;
  --sizes-max: max-content;
  --sizes-min: min-content;
  --sizes-full: 100%;
  --sizes-3xs: 14rem;
  --sizes-2xs: 16rem;
  --sizes-xs: 20rem;
  --sizes-sm: 24rem;
  --sizes-md: 28rem;
  --sizes-lg: 32rem;
  --sizes-xl: 36rem;
  --sizes-2xl: 42rem;
  --sizes-3xl: 48rem;
  --sizes-4xl: 56rem;
  --sizes-5xl: 64rem;
  --sizes-6xl: 72rem;
  --sizes-7xl: 80rem;
  --sizes-8xl: 90rem;
  --sizes-prose: 60ch;
  --sizes-container-sm: 640px;
  --sizes-container-md: 768px;
  --sizes-container-lg: 1024px;
  --sizes-container-xl: 1280px;
  --zIndices-hide: -1;
  --zIndices-auto: auto;
  --zIndices-base: 0;
  --zIndices-docked: 10;
  --zIndices-dropdown: 1000;
  --zIndices-sticky: 1100;
  --zIndices-banner: 1200;
  --zIndices-overlay: 1300;
  --zIndices-modal: 1400;
  --zIndices-popover: 1500;
  --zIndices-skipLink: 1600;
  --zIndices-toast: 1700;
  --zIndices-tooltip: 1800;
  --transition-property-common: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;
  --transition-property-colors: background-color,border-color,color,fill,stroke;
  --transition-property-dimensions: width,height;
  --transition-property-position: left,right,top,bottom;
  --transition-property-background: background-color,background-image,background-position;
  --transition-easing-ease-in: cubic-bezier(0.4, 0, 1, 1);
  --transition-easing-ease-out: cubic-bezier(0, 0, 0.2, 1);
  --transition-easing-ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration-ultra-fast: 50ms;
  --transition-duration-faster: 100ms;
  --transition-duration-fast: 150ms;
  --transition-duration-normal: 200ms;
  --transition-duration-slow: 300ms;
  --transition-duration-slower: 400ms;
  --transition-duration-ultra-slow: 500ms;
  --blur-none: 0;
  --blur-sm: 4px;
  --blur-base: 8px;
  --blur-md: 12px;
  --blur-lg: 16px;
  --blur-xl: 24px;
  --blur-2xl: 40px;
  --blur-3xl: 64px;
  --breakpoints-base: 0em;
  --breakpoints-sm: 30em;
  --breakpoints-md: 48em;
  --breakpoints-lg: 62em;
  --breakpoints-xl: 80em;
  --breakpoints-2xl: 96em;
}

@media (prefers-color-scheme: dark) {
  :root {
    @each $color in map-get(catppuccin.$palette, 'mocha') {
      --colors-#{color}: $color;
    }
  }
}

:root {
  @each $color in map-get(catppuccin.$palette, 'macchiato') {
    --colors-#{color}: $color;
  }
}

html {
  line-height: 1.5;
  font-family: system-ui, sans-serif;
  text-rendering: optimizelegibility;
}
